@font-face {
  font-family: 'Roboto-Local';
  font-style: normal;
  font-weight: 100;
  src: url(./fonts/Roboto-Thin.woff) format('woff');
}
@font-face {
  font-family: 'Roboto-Local';
  font-style: normal;
  font-weight: 300;
  src: url(./fonts/Roboto-Light.woff) format('woff');
}
@font-face {
  font-family: 'Roboto-Local';
  font-style: normal;
  font-weight: 400;
  src: url(./fonts/Roboto-Regular.woff) format('woff');
}
@font-face {
  font-family: 'Roboto-Local';
  font-style: normal;
  font-weight: 500;
  src: url(./fonts/Roboto-Medium.woff) format('woff');
}
@font-face {
  font-family: 'Roboto-Local';
  font-style: normal;
  font-weight: 700;
  src: url(./fonts/Roboto-Bold.woff) format('woff');
}
@font-face {
  font-family: 'Roboto-Local';
  font-style: normal;
  font-weight: 900;
  src: url(./fonts/Roboto-Black.woff) format('woff');
}

body {
  font-family: 'Roboto-Local', -apple-system, BlinkMacSystemFont, sans-serif;
	background-color: $ui_passive;
}

.content {
	min-height: calc(100vh - 120px);
	max-width: 1300px;
	width: 100%;
	background: $white;
	border-radius: 8px;
	filter: $table_shad;
}

.modal {
	min-height: 330px;
	max-width: 450px;
	width: 100%;
	height: 100%;
	background: $white;
	border-radius: 8px;
	filter: $table_shad;

	& > * {
		margin-bottom: 16px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.q-btn {
		height: 40px;
		filter: $btn_shad;
		background-color: $link !important;
		padding-left: 32px;
		padding-right: 32px;
		text-transform: none;
		font-weight: 700;
		font-size: 12px;
		line-height: 14px;
		letter-spacing: -0.01em;
		color: $white;

		&::before {
			box-shadow: none;
		}
	}
}

h2, .text-h2 {
	font-weight: 500;
	font-size: 17px;
	line-height: 20px;
	color: $black;
}

.q-field {
	height: 40px;
	width: 240px;

	&__control {
		height: 40px;
		width: 240px;
	}
}

.q-field--outlined .q-field__control:before {
  border: 1px solid $ui_passive;
}

.q-placeholder {
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	color: $black;
	
	&::placeholder {
		color: $passive;
	}
}

.q-table {
	tr {
		height: 64px;
		position: relative;

		&::after {
			content: '';
			position: absolute;
			height: 1px;
			width: calc(100% - 32px);
			background-color: $divider;
			left: 16px;
			bottom: 0;
		}
	}

	thead {
		tr {
			height: 64px;
		}
	}

	tbody {
		tr {
			cursor: pointer;
		}
	}

	th {
		font-weight: 500;
		font-size: 11px;
		line-height: 13px;
		text-transform: uppercase;
		color: $passive;
	}

	td {
		font-weight: 500;
		font-size: 13px;
		line-height: 15px;
		color: $black;

		&:first-child {
			font-weight: 400;
			font-size: 12px;
			line-height: 18px;
			color: $comment;
		}
	}

	th, td {
		border: none;
	}

	&__container {
		min-height: calc(100vh - 120px);
	}

	&__card {
		box-shadow: none;
	}
	
	&__bottom {
		justify-content: space-between;
		flex-direction: row-reverse;
		height: 72px;
		border: none;

		&-item {
			font-weight: 400;
			font-size: 12px;
			line-height: 18px;
			color: $comment;
		}

		span.q-table__bottom-item {
			margin-right: 40px;
			min-width: 80px;
		}
	
		.q-table__separator {
			display: none;
		}

		.q-field {
			width: 90px;
			height: 40px;
			border: 1px solid $ui_passive;
			border-radius: 4px;

			&__native {
				padding-left: 16px;

				span {
					font-weight: 400;
					font-size: 12px;
					line-height: 14px;
					color: $comment;
				}
			}

			&__append {
				margin-right: 8px;
				.q-icon {
					background: url("data:image/svg+xml,%3Csvg width='14' height='7' viewBox='0 0 14 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 2L7 5L12 2' stroke='%235584FF' stroke-width='2.16667' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") no-repeat center center;
					color: transparent;
				}
			}
		}
	}
}
