// Colors
$comment: #979FB4;
$black: #545E79;
$divider: #F2F2F2;
$passive: #BAC1D1;
$link: #5584FF;
$white: #FFFFFF;
$ui_passive: #E0E3ED;
$ui_active: #294DA8;

// Shadows
$btn_shad: drop-shadow(0px 8px 12px rgba(85, 132, 255, 0.35));
$table_shad: drop-shadow(0px 8px 16px rgba(224, 227, 237, 0.45));

